.background {
    background-image: url("img/background1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 1;
}

.background1 {
    background-image: url("img/对联第一页.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.background2 {
    background-image: url("img/对联第二页.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 99vh;
}

.background3 {
    background-image: url("img/对联第三页.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 99vh;
}

.background4 {
    background-image: url("img/对联第三页.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 99vh;
}

.background5 {
    background-image: url("img/对联第三页.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 99vh;
}

.denglong1 {
    z-index: 99999;
    position:absolute;
    top: 0px;
    left: 0px;
    width: 240px;
    height: 40%;
    background-image: url("img/瘦灯笼.svg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.denglong2 {
    z-index: 99999;
    position:absolute;
    top: 0px;
    left: 340px;
    width: 240px;
    height: 30%;
    background-image: url("img/胖灯笼.svg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.denglong3 {
    z-index: 99999;
    position:absolute;
    top: 0px;
    right: 340px;
    width: 240px;
    height: 30%;
    background-image: url("img/胖灯笼.svg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.denglong4 {
    z-index: 99999;
    position:absolute;
    top: 0px;
    right: 0px;
    width: 240px;
    height: 40%;
    background-image: url("img/瘦灯笼.svg");
    background-size: 100%;
    background-repeat: no-repeat;
}

@font-face {
    font-family: OrdinaryFont;
    src: url(font/SanJiChunLianZiTiJian-2.ttf);
}

@font-face {
    font-family: ClassicalFont;
    src: url(font/AaJiuZhongXiao-2.ttf);
}

@font-face {
    font-family: FunFont;
    src: url(font/SanJiChuMoTi-2.ttf);
}

.audioIcon{
    z-index: 99999;
    width : 40px;
    height: 100%;
    background-image: url("img/话筒.svg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.header{
    font-family: OrdinaryFont;
    font-size: 24px;
}

.hint{
    font-family: OrdinaryFont;
    font-size: 28px;
}

.background2 .hint{
    color: azure;
}

.background3 .hint{
    color: rgb(229, 31, 41);
}

.background4 .hint{
    color: rgb(229, 31, 41);
}

.background5 .hint{
    color: rgb(229, 31, 41);
}

.title {
    font-size: 60px;
    color: azure;
    text-align: center;
    font-family: OrdinaryFont;
}

.desc {
    color: azure;
    font-size: 40px;
    text-align: center;
    font-family: OrdinaryFont;
}

.step2Header {
    height: 150px
}

.step2HeaderWeb {
    height: 100px
}

.voiceInput {
    width: 100%;
}

.themeInput {
    width: 100%;
    height: 80px;
    font-size: 36px;
    font-family: OrdinaryFont;
    /* height: var(--aws-spacing-core-unit-16x, 64px); */
    /* flex-shrink: 0; */
    /* font-family: OrdinaryFont; */
}

.loading {
    width: 250px;
    height: 250px;
    background-image: url("img/loading.gif");
    background-size: 100%;
    background-repeat: no-repeat;
}

.coupletReview {
    height: 100%;
}

.coupletReview .wrap {
    padding-top: 20px;
    /* padding-bottom: 350px */
}

.coupletReview .wrap .canvas-mode-2 {
    width: 340px;
    margin: 0vh auto 0
}

.coupletReview .wrap .canvas-mode-2 .row {
    display: flex;
    justify-content: space-between
}

.coupletReview .wrap .canvas-mode-2 .row:nth-of-type(1) {
    justify-content: center;
    margin-bottom: 15px
}

.coupletReview .wrap .canvas-mode-2 #canvas-top {
    background-image: url("img/hp.jpeg");
    background-repeat: no-repeat;
    width: 340px;
    height: 90px;
    background-size: 100% auto;
}

.coupletReview .wrap .canvas-mode-2 #canvas-left {
    background-image: url("img/dl.jpeg");
    background-repeat: no-repeat;
    width: 90px;
    background-size: 100% 100%;
}

.coupletReview .wrap .canvas-mode-2 #canvas-right {
    background-image: url("img/dl.jpeg");
    background-repeat: no-repeat;
    width: 90px;
    background-size: 100% 100%;
}

.coupletReview .wrap .canvas-mode-2 .dl-top {
    position: relative;
    top: -14px;
    left: -30px;
}

.coupletReview .wrap .canvas-mode-2 .dl-left-right {
    position: relative;
    top: 20px;
    left: -37px;
}

/* 打印页 */
.coupletPrinter {
    background-image: url("img/打印相片.png");
    background-repeat: no-repeat;
    /* background-color: #eee; */
    background-position: center center;
    /* background-size: cover; */
    background-size: 100% 100%;
    width: 480px;
    height: 720px;
    /* z-index: 99999; */
}

.coupletPrinter .wrap {
    padding-top: 70px;
}

.coupletPrinter .wrap .canvas-mode-2 {
    width: 85%;
    margin: 0vh auto 0
}

.coupletPrinter .wrap .canvas-mode-2 .row {
    display: flex;
    justify-content: space-between
}

.coupletPrinter .wrap .canvas-mode-2 .row:nth-of-type(1) {
    justify-content: center;
    margin-bottom: 15px
}

.coupletPrinter .wrap .canvas-mode-2 #canvas-top {
    background-image: url("img/hp.jpeg");
    background-repeat: no-repeat;
    width: 340px;
    height: 90px;
    background-size: 100% auto;
}

.coupletPrinter .wrap .canvas-mode-2 #canvas-left {
    background-image: url("img/dl.jpeg");
    background-repeat: no-repeat;
    width: 90px;
    background-size: 100% 100%;
}

.coupletPrinter .wrap .canvas-mode-2 #canvas-right {
    background-image: url("img/dl.jpeg");
    background-repeat: no-repeat;
    width: 90px;
    background-size: 100% 100%;
}

.coupletPrinter .wrap .canvas-mode-2 .dl-top {
    position: relative;
    top: -14px;
    left: -30px;
}

.coupletPrinter .wrap .canvas-mode-2 .dl-left-right {
    position: relative;
    top: 20px;
    left: -37px;
}

.qrCode {
    background-image: url("img/qrCode.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 150px;
    height: 150px;
}

@media print {
    body {
        background: none;
        padding: 0px;
        margin: 0px;
        color: black;
        position: relative;
    }

    section.background5 {
        background: none;
    }

    header {
        display: none;
    }

    footer {
        display: none;
    }

    #printHint {
        display: none;
    }

    #printDiv {
        display: block;
        padding: 0px;
        margin: 0px;
    }

    #coupletPhoto {
        width: 546px;
        height: 766px;
    }
}

@media (max-width: 768px) {
    .background2 .hint{
        color: #ffffff;
    }

    .background3 .hint{
        color: black;
    }

    .background4 .hint{
        color: black;
    }

    .background5 .hint{
        color: black;
    }
    .chunlianReviewCard {
        z-index: 2; /* Ensure this is higher than the z-index of the background */
        background: linear-gradient(to bottom right, #fae4d8, #ffffff); /* Adjust transparency as needed */
        margin-top: -10px;
    }

    .step2Header {
        height: 50px; /* Decrease the height to use less space */
    }

    .step4Header {
        height: 50px;
    }

    /* Adjust the top margin of the first element after the header */
    .firstElementAfterHeader {
        margin-top: 0px; /* Add some space at the top, adjust as needed */
    }

    .denglong1, .denglong2, .denglong3, .denglong4 {
        /*width: 120px; !* Make the lanterns smaller *!*/
        /*height: 20%; !* Adjust the height *!*/
        /* Optionally, you can hide the lanterns */
         display: none;
    }

    /* Adjust font sizes for mobile */
    .hint {
        font-size: 16px; /* Adjust the font size as needed */
    }

    .desc {
        font-size: 16px; /* Adjust the font size as needed */
        color: #fd2323;
    }

    .title {
        font-size: 32px;
        color: #fd2323;
    }

    /* Adjust background properties */
    .background2, .background3, .background4, .background5 {
        background-size: auto 100%; /* Adjust background size */
        background-position: top center; /* Adjust background position */
    }

    /* Adjust background images for smaller screens */
    .background, .background1, .background2, .background3, .background4, .background5 {
        background-size: 100% 100%; /* Stretch background to cover the area */
        height: auto; /* Adjust height to be auto to ensure full page coverage */
        min-height: 100vh; /* Ensure at least the full height of the viewport */
        background: linear-gradient(to bottom right, #fcb9d3, #b39cf6); /* Replace with your colors */
    }

    /*.ant-layout-header {*/
    /*    height: 800px; !* Reduce the height of the header *!*/
    /*}*/

    .voiceInputContainer {
        margin-top: -100px; /* Pull the content up by 50px */
    }
}
