* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html, body {
    height: 100%;
  }

  /* body {
    background-image: url("img/background1.png");
    background-repeat: no-repeat;
    background-color: #eee;
    width: 100%;
    background-size: 100% 100%;
    height: 100%;
    font-family: "Helvetica Neue", "PingFang SC", Helvetica, Arial, "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", sans-serif;
  } */

  #app {
    /* max-width: 600px; */
    /* height: 100%; */
    /* margin: 0 auto; */

    background-image: url("img/background1.png");
    background-repeat: no-repeat;
    background-color: #eee;
    width: 100%;
    background-size: 100% 100%;
    height: 100%;
    font-family: "Helvetica Neue", "PingFang SC", Helvetica, Arial, "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", sans-serif;
  }

  .header {
    padding-top: 400px;
    margin-bottom: 20px;
  }

  .title {
    margin-bottom: 20px;
    font-size: 22px;
    color: #484848;
    text-align: center;
  }

  .desc {
    margin-bottom: 20px;
    color: #898989;
    font-size: 16px;
    text-align: center;
  }

  .error {
    margin-bottom: 20px;
    color: #ff0000;
    font-size: 16px;
    text-align: center;
  }

  .couplet-button_group {
    position: relative;
    margin: 0 auto;
    max-width: 600px;
    width: 90%;
    height: 40px;
    font-size: 0;
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
  .couplet-button_group::after {
    content: " ";
    display: table;
    clear: both;
  }
  .couplet-button_group .couplet-input {
    width: 100%;
    padding-left: 10px;
    padding-right: 110px;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    border: none;
    font-size: 20px;
  }
  .couplet-button_group .couplet-btn {
    position: absolute;
    top: 0;
    right: 101px;
    width: 100px;
    height: 40px;
    line-height: 40px;
    background-color: #4CAF50;
    color: #fff;
    outline: none;
    border: none;
    font-size: 20px;
  }

  .couplet-button_group .couplet-btn-back {
    position: absolute;
    top: 0;
    right: 0px;
    width: 100px;
    height: 40px;
    line-height: 40px;
    background-color: #4CAF50;
    color: #fff;
    outline: none;
    border: none;
    font-size: 20px;
  }

  .choose-button_group {
    position: relative;
    margin: 0 auto;
    max-width: 600px;
    width: 90%;
    height: 40px;
    font-size: 0;
    border-radius: 3px;
    overflow: hidden;
  }

  .choose-button_group .couplet-btn-left {
    position: absolute;
    top: 0;
    right: 290px;
    width: 100px;
    height: 40px;
    line-height: 40px;
    background-color: #4CAF50;
    color: #fff;
    outline: none;
    border: none;
    font-size: 20px;
  }

  .choose-button_group .couplet-btn-right {
    position: absolute;
    top: 0;
    right: 140px;
    width: 100px;
    height: 40px;
    line-height: 40px;
    background-color: #4CAF50;
    color: #fff;
    outline: none;
    border: none;
    font-size: 20px;
  }

  .content {
    padding: 0 50px;
    margin: 0 auto;
    max-width: 600px;
    min-height: 160px;
  }

  @media (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) { .content { min-height: 160px; } }
  @media (device-height: 667px) and (-webkit-min-device-pixel-ratio: 2) { .content { min-height: 180px; } }
  @media (device-height: 736px) and (-webkit-min-device-pixel-ratio: 2) { .content { min-height: 200px; } }
  .couplet-text {
    margin-bottom: 10px;
    display: flex;
  }
  .couplet-text .couplet-hd {
    width: 70px;
    font-size: 20px;
  }
  .couplet-text .couplet-bd {
    flex: 1;
  }
  .couplet-text span {
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    font-size: 24px;
    vertical-align: middle;
    color: #cc2f2e;
    background-image: url("img/text-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .article {
    padding: 30px;
  }

  .article div {
    margin: 20px;
  }

  .article img {
    width: 40%;
    margin-left: 30%;
  }

  .printer {
    background-image: url("img/春联A4纸.png");
    background-repeat: no-repeat;
    background-color: #eee;
    background-position: center;
    width: 100%;
    /* background-size: 100% 100%; */
    height: 100%;
  }



@import"//at.alicdn.com/t/font_3143993_l96t9sme1ua.css";.button-box[data-v-f7a4c188] {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center
}

.button-box .button[data-v-f7a4c188] {
    position: relative;
    width: 94px;
    height: 35px;
    line-height: 35px;
    margin: 0 15px;
    padding: 0;
    color: #fff;
    background: var(--accent-color);
    border: 1px solid var(--accent-color);
    box-sizing: border-box;
    text-align: center;
    opacity: .7;
    border-radius: 5px
}

.left-bg[data-v-f7a4c188],.right-bg[data-v-f7a4c188] {
    display: block;
    position: absolute;
    top: 5px;
    left: -7px;
    width: 8px;
    height: 22px;
    background: var(--accent-color);
    border-radius: 3px
}

.right-bg[data-v-f7a4c188] {
    left: auto;
    right: -7px
}

.button-box .button[data-v-f7a4c188]:after {
    display: block;
    position: absolute;
    top: 3px;
    left: 4px;
    width: 85px;
    height: 27px;
    content: "";
    border-radius: 0;
    border: 1px solid rgba(255,255,255,.7);
    box-sizing: border-box
}

.left-bg[data-v-f7a4c188]:after,.right-bg[data-v-f7a4c188]:after {
    display: block;
    position: absolute;
    top: 3px;
    left: 4px;
    width: 9px;
    height: 16px;
    content: "";
    background: var(--accent-color);
    border: 1px solid;
    border-color: rgba(255,255,255,.7) transparent rgba(255,255,255,.7) rgba(255,255,255,.7);
    box-sizing: border-box;
    z-index: 9
}

.right-bg[data-v-f7a4c188]:after {
    left: auto;
    right: 4px;
    border-color: rgba(255,255,255,.7) rgba(255,255,255,.7) rgba(255,255,255,.7) transparent
}

.squre[data-v-f7a4c188],.squre[data-v-f7a4c188]:after {
    position: absolute;
    left: 11px;
    top: 3px;
    width: 3px;
    height: 3px;
    border: 1px solid rgba(255,255,255,.7);
    z-index: 99;
    box-sizing: border-box
}

.squre[data-v-f7a4c188]:after {
    left: -1px;
    top: auto;
    bottom: -14px;
    content: ""
}

.right-bg .squre[data-v-f7a4c188],.right-bg .squre[data-v-f7a4c188]:after {
    left: auto;
    right: 10px
}

.right-bg .squre[data-v-f7a4c188]:after {
    right: -1px
}

.wrap {
    padding-top: 100px;
    padding-bottom: 60px
}

.wrap.mode-1 .actions {
    height: 500px;
    margin-top: -250px
}

.wrap.mode-2 .actions {
    height: 220px;
    margin-top: -110px
}

.wrap .toggle-mode-btn {
    position: fixed;
    left: 0;
    top: 10px;
    width: 76px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background-color: #ffffff4d;
    box-shadow: 2px 2px 5px #0000001a;
    font-size: 12px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    color: #666;
    transition: all .1s;
    z-index: 99
}

.wrap .toggle-mode-btn:active {
    opacity: .8;
    box-shadow: 1px 1px 3px #0000001a
}

.wrap .toggle-mode-btn .iconfont {
    font-size: 14px
}

.wrap .actions {
    width: 42px;
    padding: 15px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: #0000004d;
    position: fixed;
    left: 0;
    top: 50%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
    font-size: 13px;
    z-index: 999;
    transition: all .3s
}

.wrap .actions .slider-box {
    height: 130px;
    padding: 8px 0;
    background: rgba(255,255,255,.25);
    border-radius: 3px;
    position: relative
}

.wrap .actions .slider-box:before,.wrap .actions .slider-box:after {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    opacity: .4;
    z-index: -1;
    font-size: 15px;
    font-weight: 100
}

.wrap .actions .slider-box:before {
    content: "-";
    font-size: 13px;
    top: 2px
}

.wrap .actions .slider-box:after {
    content: "+";
    bottom: 4px
}

.wrap .actions .van-slider {
    border-radius: 3px;
    background: transparent
}

.wrap .actions .custom-button {
    width: 28px;
    height: 18px;
    background: rgba(255,255,255,.4);
    border-radius: 3px
}

.wrap .actions .iconfont {
    font-size: 20px
}

.wrap .actions .btn {
    font-weight: bold;
    transition: all .2s;
    opacity: .6;
    cursor: pointer
}

.wrap .actions .btn.btn-active,.wrap .actions .btn.cur-active {
    opacity: 1;
    text-shadow: 0 0 10px rgba(255,255,255,.4),0 0 15px rgba(255,255,255,.7),0 0 20px white
}

.wrap .actions .prominent {
    font-weight: bold;
    opacity: .65
}

.wrap .actions .btn-block {
    transition: all .2s;
    cursor: pointer
}

.wrap .actions .btn-block.btn-active {
    box-shadow: #0000004d 0 0 5px,#fff9 0 0 10px
}

.wrap .actions .line {
    width: 74%;
    height: 1px;
    background: #fff;
    opacity: .5
}

.wrap .canvas-mode-2 {
    width: 440px;
    margin: 0vh auto 0
}

.wrap .canvas-mode-2 .row {
    display: flex;
    justify-content: space-between
}

.wrap .canvas-mode-2 .row:nth-of-type(1) {
    justify-content: center;
    margin-bottom: 15px
}

.wrap .canvas-mode-2 #canvas-top {
    background-image: url("img/hp.jpeg");
    width: 240px;
    height: 60px;
    background-size: 100% 100%;
}

#dl-top {
    position: absolute;
    top: 60px;
    left: 730px
}

#dl-left {
    position: absolute;
    top: 180px;
    left: 600px;
}

#dl-right {
    position: absolute;
    top: 180px;
    left: 980px
}


.wrap .canvas-mode-2 #canvas-left {
    background-image: url("img/dl.jpeg");
    width: 60px;
    height: 500px;
    background-size: 100% 100%;
}

.wrap .canvas-mode-2 #canvas-right {
    background-image: url("img/dl.jpeg");
    width: 60px;
    height: 500px;
    background-size: 100% 100%;
}

.palette {
    width: 28px
}

.palette .cur-color {
    background-color: #000;
    width: 28px;
    height: 18px;
    border-radius: 3px
}

.palette .colorList {
    width: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    left: 42px;
    top: 0;
    background-color: #0000004d;
    padding: 5px 0
}

.palette .colorList li {
    width: 20px;
    height: 20px;
    background-color: #000;
    margin: 6px auto;
    border-radius: 3px
}

.color-list-quick {
    background-color: #000;
    width: 28px;
    height: 18px;
    border-radius: 3px;
    transition: all .2s;
    opacity: .8
}

.color-list-quick.active {
    opacity: 1;
    border: 1px solid #fff;
    box-shadow: #0006 0 0 4px,#fffc 0 0 8px
}

.download-tip {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99999;
    color: #fff
}

footer {
    width: 100vw;
    height: 60px;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: var(--bg-color);
    background-image: url(https://cdn.staticaly.com/gh/xugaoyi/image_store@master/hw.4u5bfuswnrw0.png);
    background-size: 100px 100px;
    box-shadow: #0003 0 0 8px;
    display: flex
}

footer .refresh-btn {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center
}

footer .refresh-btn .iconfont {
    font-size: 23px;
    color: var(--accent-color);
    transition: all .2s
}

footer .refresh-btn .rotate {
    animation: rotate .2s linear 1;
    text-shadow: 0 0 20px rgba(195,56,37,.6)
}

footer dl {
    display: flex;
    border-left: 1px solid rgba(195,56,37,.6);
    margin: 8px 0;
    padding: 0 8px
}

footer dl.duilian {
    min-width: 48vw
}

footer dl dt {
    color: var(--accent-color);
    writing-mode: vertical-lr;
    display: flex;
    justify-content: center;
    font-size: 11px
}

footer dl dd {
    display: flex;
    flex-direction: column;
    padding-left: 8px;
    justify-content: center;
    font-size: 20px;
    line-height: 22px;
    font-family: "xs",cursive;
    letter-spacing: 1px;
    color: #333
}

@media screen and (max-width: 380px) {
    footer dl dd {
        font-size:18px
    }
}

.van-notify {
    z-index: 99999!important
}

.copyright {
    position: fixed;
    right: 10px;
    bottom: 70px;
    font-size: 10px;
    opacity: .6;
    writing-mode: vertical-lr;
    line-height: 10px
}

.hide-img {
    display: none
}

.share-btn {
    position: fixed;
    right: -1px;
    bottom: 250px;
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    padding: 5px 6px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background: rgba(255,255,255,.3);
    box-shadow: 0 0 5px #fa3b3b66;
    font-size: 13px
}

.share-btn:active {
    opacity: .6
}

.share-tip {
    width: 100vw;
    height: 100vh;
    line-height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    text-align: right;
    padding-right: 15px;
    background: rgba(0,0,0,.3);
    z-index: 99999;
    color: #fff;
    font-size: 16px
}

.share-tip .hand {
    animation: up 1s linear infinite;
    float: right;
    margin-left: 3px
}

.body-bg-img {
    position: fixed;
    bottom: 140px;
    left: -5vw;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: url(https://cdn.staticaly.com/gh/xugaoyi/blog-gitalk-comment@master/img/33.3hlabglpygk0.png) no-repeat left bottom;
    background-size: 110vw;
    opacity: .4
}

@keyframes up {
    0% {
        margin-top: -5px
    }

    50% {
        margin-top: 5px
    }

    to {
        margin-top: -5px
    }
}

.play-btn {
    position: fixed;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 50%;
    line-height: 28px;
    text-align: center;
    animation: rotate 5s linear infinite;
    box-shadow: 0 0 5px #0000000d
}

.play-btn.paused {
    animation-play-state: paused
}

.btn-posters {
    margin: 30px 0
}

.btn-posters:active {
    opacity: .8
}

.duilian-list li {
    border-bottom: 1px solid #eee;
    text-align: center;
    padding: 15px 0
}

.duilian-list li:active {
    background-color: #eee
}

@keyframes rotate {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(360deg)
    }
}

/* @font-face {
    font-family: "xs";
    src: url(https://cdn.staticaly.com/gh/xugaoyi/image_store@master/xs.ttf) format("truetype")
} */

@font-face {
    font-family: "xss";
    src: url("./font/AaMoYunXingShu-2.ttf") format("truetype")
}




.BackGround{
    background-image: url("../../../public/Cocktail_background_Ethan_size.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
