.background {
    background-image: url("img/background1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.background1 {
    background-image: url("img/对联第一页.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.background2 {
    background-image: url("img/对联第二页.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 99vh;
}

.background3 {
    background-image: url("img/对联第三页.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 99vh;
}

.background4 {
    background-image: url("img/对联第三页.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 99vh;
}

.background5 {
    background-image: url("img/对联第三页.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 99vh;
}

.denglong1 {
    z-index: 99999;
    position:absolute;
    top: 0px;
    left: 0px;
    width: 240px;
    height: 70%;
    background-image: url("img/瘦灯笼.svg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.denglong2 {
    z-index: 99999;
    position:absolute;
    top: 0px;
    left: 340px;
    width: 240px;
    height: 50%;
    background-image: url("img/胖灯笼.svg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.denglong3 {
    z-index: 99999;
    position:absolute;
    top: 0px;
    right: 340px;
    width: 240px;
    height: 50%;
    background-image: url("img/胖灯笼.svg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.denglong4 {
    z-index: 99999;
    position:absolute;
    top: 0px;
    right: 0px;
    width: 240px;
    height: 70%;
    background-image: url("img/瘦灯笼.svg");
    background-size: 100%;
    background-repeat: no-repeat;
}

@font-face {
    font-family: OrdinaryFont;
    src: url(font/SanJiChunLianZiTiJian-2.ttf);
}

@font-face {
    font-family: ClassicalFont;
    src: url(font/AaJiuZhongXiao-2.ttf);
}

@font-face {
    font-family: FunFont;
    src: url(font/SanJiChuMoTi-2.ttf);
}

.audioIcon{
    z-index: 99999;
    width : 40px;
    height: 100%;
    background-image: url("img/话筒.svg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.header{
    font-family: OrdinaryFont;
    font-size: 24px;
}

.hint{
    font-family: OrdinaryFont;
    font-size: 28px;
}

.background2 .hint{
    color: azure;
}

.background3 .hint{
    color: rgb(229, 31, 41);
}

.background4 .hint{
    color: rgb(229, 31, 41);
}

.background5 .hint{
    color: rgb(229, 31, 41);
}

.title {
    font-size: 60px;
    color: azure;
    text-align: center;
    font-family: OrdinaryFont;
}

.desc {
    color: azure;
    font-size: 40px;
    text-align: center;
    font-family: OrdinaryFont;
}

.voiceInput {
    width: 100%;
}

.themeInput {
    width: 100%;
    height: 80px;
    font-size: 36px;
    font-family: OrdinaryFont;
    /* height: var(--aws-spacing-core-unit-16x, 64px); */
    /* flex-shrink: 0; */
    /* font-family: OrdinaryFont; */
}

.loading {
    width: 250px;
    height: 250px;
    background-image: url("img/loading.gif");
    background-size: 100%;
    background-repeat: no-repeat;
}

.coupletReview {
    height: 100%;
}

.coupletReview .wrap {
    padding-top: 20px;
    /* padding-bottom: 350px */
}

.coupletReview .wrap .canvas-mode-2 {
    width: 340px;
    margin: 0vh auto 0
}

.coupletReview .wrap .canvas-mode-2 .row {
    display: flex;
    justify-content: space-between
}

.coupletReview .wrap .canvas-mode-2 .row:nth-of-type(1) {
    justify-content: center;
    margin-bottom: 15px
}

.coupletReview .wrap .canvas-mode-2 #canvas-top {
    background-image: url("img/hp.jpeg");
    background-repeat: no-repeat;
    width: 340px;
    height: 90px;
    background-size: 100% auto;
}

.coupletReview .wrap .canvas-mode-2 #canvas-left {
    background-image: url("img/dl.jpeg");
    background-repeat: no-repeat;
    width: 90px;
    background-size: 100% 100%;
}

.coupletReview .wrap .canvas-mode-2 #canvas-right {
    background-image: url("img/dl.jpeg");
    background-repeat: no-repeat;
    width: 90px;
    background-size: 100% 100%;
}

.coupletReview .wrap .canvas-mode-2 .dl-top {
    position: relative;
    top: -14px;
    left: -30px;
}

.coupletReview .wrap .canvas-mode-2 .dl-left-right {
    position: relative;
    top: 20px;
    left: -37px;
}

/* 打印页 */
.coupletPrinter {
    background-image: url("img/打印相片.png");
    background-repeat: no-repeat;
    /* background-color: #eee; */
    background-position: center center;
    /* background-size: cover; */
    background-size: 100% 100%;
    width: 480px;
    height: 720px;
    /* z-index: 99999; */
}

.coupletPrinter .wrap {
    padding-top: 70px;
}

.coupletPrinter .wrap .canvas-mode-2 {
    width: 420px;
    margin: 0vh auto 0
}

.coupletPrinter .wrap .canvas-mode-2 .row {
    display: flex;
    justify-content: space-between
}

.coupletPrinter .wrap .canvas-mode-2 .row:nth-of-type(1) {
    justify-content: center;
    margin-bottom: 15px
}

.coupletPrinter .wrap .canvas-mode-2 #canvas-top {
    background-image: url("img/hp.jpeg");
    background-repeat: no-repeat;
    width: 340px;
    height: 90px;
    background-size: 100% auto;
}

.coupletPrinter .wrap .canvas-mode-2 #canvas-left {
    background-image: url("img/dl.jpeg");
    background-repeat: no-repeat;
    width: 90px;
    background-size: 100% 100%;
}

.coupletPrinter .wrap .canvas-mode-2 #canvas-right {
    background-image: url("img/dl.jpeg");
    background-repeat: no-repeat;
    width: 90px;
    background-size: 100% 100%;
}

.coupletPrinter .wrap .canvas-mode-2 .dl-top {
    position: relative;
    top: -14px;
    left: -30px;
}

.coupletPrinter .wrap .canvas-mode-2 .dl-left-right {
    position: relative;
    top: 20px;
    left: -37px;
}

.qrCode {
    background-image: url("img/qrCode.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 150px;
    height: 150px;
}